snippet ##=
REM =====
REM  $0
REM =====
endsnippet

snippet __comment=
@echo off
REM -
REM `!v expand('%:t')`
REM =====
REM ${2}
REM
REM ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "vine9151@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
REM -



$0
endsnippet
